* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

.signout{
    margin-left: 59px;
    color: white;
    text-decoration: none;
    /* font-size: 18px; */
    line-height: 60px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.height {
    height: 550px !important;
}

.margin-top {
    margin-top: 210px !important;
}

.border {
    border-radius: 10px !important;
    width: 264px !important;
}

.text-center {
    text-align: center !important;
}

.padding-top {
padding-top: 75px;
}

.text-color {
    color: white;
}

.margin-right{
    margin-right: 200px !important;
}


#header {
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

nav {
    position: relative;
}

.nav div {
display: inline-block;
}

.nav > div  a {
    color: white;
    text-decoration: none;
    line-height: 60px;
}

.nav .header-text {
    margin-left: 111px;
    font-size: 52px;
    position: absolute;
}

.nav .header-contact {
    margin-left: 500px;
    position: relative;
}

.nav .header-contact a {
    padding-left: 15px;
}

.nav .header-account {
margin-left: 100px;
position: absolute;

}

.nav .header-account a {
    padding-left: 15px;
}

.nav  .header-account  a:hover {
    color: teal;
}


#footer {
    min-height: 404px;
    background: black;
}

.logo {
    width: 30%;
    display: inline-block;
   
}

.imglogo {
    width: 356px;
}

.mxh {
    padding-left: 109px;
    font-size: 20px;
}

#footer .mxh a {
    color: white;
    text-decoration: none;
    padding-top: 0;
  }
  
  #footer .mxh a:hover,
  #footer .the-end a:hover {
    opacity: 0.4;
  }

.footer-pay {
    overflow: hidden;
    width: 30%;
    margin-top: 87px;
    margin-left: 184px;
    display: inline-block;
    float: right;
}

.pay-text {
color: white;
text-align: center;
}

.pay-iteam img {
width: 82.5px;
height: 46px;
line-height: 46px;
margin-left: 15px;
}

.pay-iteam {
    width: 23%;
    float: left;
    margin: 20px 4px;
    background: white;
    border-radius: 4px;
}

.company,.contact-end {
color: white;
margin-top: 30px;
margin-left: 30px;
}

.company {
    display: inline-block;
}

.contact-end {
    padding: 3px;
    float: right;
}

.create-acc {

}

.body-acc {
width: 500px;
text-align: center;
margin: 115px auto;
}

.signup {
color: black;
padding-bottom: 40px;
    font-size: 24px;
}

.form-signup {

}

.chitiet {
    padding: 13px 20px 13px 44px;
    margin: 15px;
    width: 450px;
}



#slider {
    height: 233px;
    background: #00a550;
    margin-top: 60px;
}

#slider .slider-text {
    color: white;
    font-size: 40px;
    line-height: 233px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
}

#content {
    min-height: 2000px;
    overflow: hidden;
}

#content .content-dot {
    width: 5px;
    height: 1384px;
    background: #00a550;
    border-radius: 26px;
    position: relative;
    left: 50%;
    display: inline-block;
    margin: 133px 0px;
    
}

#content .content-dot1 {
    border-radius: 50%;
    width: 39px;
    background: #00a550;
    height: 30px;
    position: absolute;
    left: -334%;
}
#content .content-dot2 {
    border-radius: 50%;
    width: 39px;
    background: #00a550;
    height: 30px;
    position: absolute;
    left: -334%;
}

.content-left {
    width: 722px;
    height: 1500px;
    display: inline-block;
    overflow: hidden;
}

.content-right {
    width: 717px;  
    height: 1500px;
    display: inline-block;
    margin-left: 59px;
}

.content-text {
    width: 422px;
    padding: 11px 16px;
    border: 2px solid #00a550;
    box-shadow: 7px 5px #00a551;
    margin-top: 84px;
    display:block;
}

.content-signin {
    margin-bottom: 12px;
}



.img1 {
    float: right;
    width: 130px;
    margin-left: 600px;
    margin-top: 100px;
}

.number{
    margin-left: 340px;
    font-size: 39px;
    font-weight: 700;
    color: #00a550;
}

.content-text1 {
    width: 422px;
    padding: 11px 16px;
    border: 2px solid #00a550;
    box-shadow: -7px 6px #00a551;
    float: right;
    margin-top: 100px;
}

.img2 {
    float: left;
    width: 130px;
    /* margin-left: 600px; */
    margin-top: 100px;
    margin-right: 300px;
}

.margin-top {
    margin-top: 174px !important;
}

.content-right .content-text1 {
    width: 422px;
    padding: 11px 16px;
    border: 2px solid #00a550;
    box-shadow: 9px 6px #00a551;
    float: right;
    margin-top: 100px;
    margin-right: 289px;
}

.username {
    color: white;
    margin-left: 20px;
  }
