* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}



html {
    font-family: Arial, Helvetica, sans-serif;
}

.height {
    height: 550px !important;
}

.margin-top {
    margin-top: 210px !important;
}

.border {
    border-radius: 10px !important;
    width: 264px !important;
}

.text-center {
    text-align: center !important;
}

.padding-top {
padding-top: 75px;
}

.text-color {
    color: white;
}


#header {
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

nav {
    position: relative;
}

.nav div {
display: inline-block;
}

.nav > div  a {
    color: white;
    text-decoration: none;
    line-height: 60px;
}

.nav .header-text {
    margin-left: 111px;
    font-size: 52px;
    position: absolute;
}


.nav .header-contact {
    margin-left: 500px;
    position: relative;
}

.nav .header-contact a {
    padding-left: 15px;
}

.nav .header-account {
margin-left: 100px;
position: absolute;

}

.nav .header-account a {
    padding-left: 15px;
}

.nav  .header-account  a:hover {
    color: teal;
}
.i1{
    color: orange;
    font-size: 18px;
    /* margin-left: 214px; */
    display: inline-block;
}
.desgin {
    font-size: 26px;
    /* margin-left: 214px; */
    position: absolute;
    top: 10px;
    right: 205px;
    display: inline-block;
    color: orange;
}

.username {
    color: white;
    margin-left: 20px;
  }

.signout{
    margin-left: 13px;
    color: white;
    text-decoration: none;
    line-height: 60px;
}

.content{
margin-top: 56px;
}

.thongbao{
    width: 400px;
margin: 300px auto;
}

.thongbaotext{
text-align: center;
}